.reg-warp {
  width: 1200px;
  margin: 0 auto;
}
.reg-warp .reg-logo {
  width: 230px;
  height: 47px;
  background: url('../../assets/images/login-logo.png') no-repeat;
  background-size: contain;
  margin-top: 30px;
  margin-bottom: 50px;
}
.reg-warp .reg-content {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.reg-warp .login-Img {
  width: 480px;
  height: 370px;
  background: url('../../assets//images/login-bigimg.png') no-repeat;
  background-size: contain;
  margin-right: 75px;
}
.reg-warp .reg-form {
  box-sizing: border-box;
}
.reg-warp .reg-form > p {
  font-size: 13px;
  font-weight: 400;
  color: #666;
  margin-bottom: 15px;
  margin-left: 70px;
}
.reg-warp .reg-form input {
  width: 270px;
  height: 36px;
  padding: 5px;
  border: 1px solid #aaa;
  line-height: 36px;
  vertical-align: top;
  box-sizing: border-box;
  margin: 0 10px;
}
.reg-warp .reg-form .bdActive {
  border: 1px solid #e02025;
}
.reg-warp .reg-form .icon-info {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url('../../assets//images//info.png') no-repeat;
  background-size: contain;
  margin-right: 5px;
}
.reg-warp .reg-form .input-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.reg-warp .reg-form .input-box span {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
}
.reg-warp .reg-form .input-box .txt {
  display: inline-block;
  width: 60px;
  text-align: right;
}
.reg-warp .reg-form .input-box .info {
  font-size: 12px;
}
.reg-warp .reg-form .btn-reg {
  width: 200px;
  height: 34px;
  background: #e02025;
  color: #fff;
  line-height: 34px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 13px;
  margin-left: 70px;
  font-size: 15px;
  margin-top: 20px;
}
.reg-warp .reg-form .reg-text {
  margin-left: 70px;
}
.reg-warp .reg-form .reg-text a {
  color: #ec454a;
}
