.item-show {
  width: 100%;
}
.item-show .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #2d98f3;
  margin-bottom: 30px;
}
.item-show .title h3 {
  font-size: 26px;
}
.item-show .title a {
  display: inline-block;
  height: 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #2d98f3;
}
.item-show .title .el-icon-arrow-right {
  font-size: 12px;
}
.item-show .content {
  display: flex;
  flex-wrap: wrap;
}
.item-show .content .item {
  margin-right: 30px;
  margin-bottom: 35px;
  cursor: pointer;
}
.item-show .content .item:nth-of-type(6n) {
  margin-right: 0;
}
.item-show .content .item:hover {
  box-shadow: 0 0 8px #fff, 7px 7px 15px rgba(0, 0, 0, 0.07);
}
.item-show .content .item-img {
  display: block;
  width: 175px;
  height: 225px;
  position: relative;
}
.item-show .content .item-img img {
  width: 100%;
  height: 100%;
}
.item-show .content .item-img .label {
  position: absolute;
  left: -2px;
  top: 4px;
  width: 69px;
  height: 25px;
  background: url('../../../assets//images//3d.png') no-repeat;
  background-size: contain;
}
.item-show .content .item-img .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('../../../assets/images/mask.png') repeat-x bottom;
}
.item-show .content .item-img .info {
  width: 90%;
  position: absolute;
  left: 50%;
  bottom: 7px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 11;
  transform: translateX(-50%);
}
.item-show .content .item-img .info .name {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.item-show .content .item-img .info .score {
  color: #ffb400;
  font-size: 18px;
  font-style: italic;
}
.item-show .content .item-img .info .score em {
  font-size: 14px;
  font-style: italic;
}
.item-show .content .item-buy {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 39px;
  border: 1px solid #dcd4d7;
  border-top: none;
  box-sizing: border-box;
  font-size: 16px;
}
.item-show .content .item-buy .notice,
.item-show .content .item-buy a {
  display: inline-block;
  width: 50%;
  height: 39px;
  line-height: 39px;
  text-align: center;
  box-sizing: border-box;
}
.item-show .content .item-buy .notice {
  color: #999;
  border-right: 1px solid #dcd4d7;
}
.item-show .content .item-buy a {
  color: #2d98f3;
}
.item-show .content .item-buy a:hover {
  color: #fff;
  background-color: #2d98f3;
}
.item-show .content .mesage {
  color: #999;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
}
